@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

html {
    display: block;
}

* {
    /* scroll-behavior: none !important;
	overscroll-behavior: none !important; */
    scrollbar-width: none;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    min-height: 100vh;
    height: 100%;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

::-webkit-scrollbar {
    display: none;
}

span>svg {
    display: inline !important;
    padding-bottom: 3px !important;
}